<?xml version="1.0" encoding="UTF-8"?>
<testsuites>
  <testsuite name="/var/www/html/web/modules/contrib/email_registration" tests="7" assertions="117" errors="0" warnings="0" failures="0" skipped="0" time="82.508759">
    <testsuite name="Drupal\Tests\email_registration\Functional\Plugin\Commerce\CheckoutPane\EmailRegistrationLoginTest" file="/var/www/html/web/modules/contrib/email_registration/tests/src/Functional/Plugin/Commerce/CheckoutPane/EmailRegistrationLoginTest.php" tests="7" assertions="117" errors="0" warnings="0" failures="0" skipped="0" time="82.508759">
      <testcase name="testLoginWithMailAddress" class="Drupal\Tests\email_registration\Functional\Plugin\Commerce\CheckoutPane\EmailRegistrationLoginTest" classname="Drupal.Tests.email_registration.Functional.Plugin.Commerce.CheckoutPane.EmailRegistrationLoginTest" file="/var/www/html/web/modules/contrib/email_registration/tests/src/Functional/Plugin/Commerce/CheckoutPane/EmailRegistrationLoginTest.php" line="95" assertions="17" time="11.263012"/>
      <testcase name="testLoginWithUsername" class="Drupal\Tests\email_registration\Functional\Plugin\Commerce\CheckoutPane\EmailRegistrationLoginTest" classname="Drupal.Tests.email_registration.Functional.Plugin.Commerce.CheckoutPane.EmailRegistrationLoginTest" file="/var/www/html/web/modules/contrib/email_registration/tests/src/Functional/Plugin/Commerce/CheckoutPane/EmailRegistrationLoginTest.php" line="114" assertions="18" time="11.865898"/>
      <testcase name="testLoginWithoutValues" class="Drupal\Tests\email_registration\Functional\Plugin\Commerce\CheckoutPane\EmailRegistrationLoginTest" classname="Drupal.Tests.email_registration.Functional.Plugin.Commerce.CheckoutPane.EmailRegistrationLoginTest" file="/var/www/html/web/modules/contrib/email_registration/tests/src/Functional/Plugin/Commerce/CheckoutPane/EmailRegistrationLoginTest.php" line="139" assertions="15" time="12.027516"/>
      <testcase name="testFailedLogin" class="Drupal\Tests\email_registration\Functional\Plugin\Commerce\CheckoutPane\EmailRegistrationLoginTest" classname="Drupal.Tests.email_registration.Functional.Plugin.Commerce.CheckoutPane.EmailRegistrationLoginTest" file="/var/www/html/web/modules/contrib/email_registration/tests/src/Functional/Plugin/Commerce/CheckoutPane/EmailRegistrationLoginTest.php" line="149" assertions="16" time="11.441773"/>
      <testcase name="testFailedLoginWithUsername" class="Drupal\Tests\email_registration\Functional\Plugin\Commerce\CheckoutPane\EmailRegistrationLoginTest" classname="Drupal.Tests.email_registration.Functional.Plugin.Commerce.CheckoutPane.EmailRegistrationLoginTest" file="/var/www/html/web/modules/contrib/email_registration/tests/src/Functional/Plugin/Commerce/CheckoutPane/EmailRegistrationLoginTest.php" line="169" assertions="17" time="11.778366"/>
      <testcase name="testFailedLoginWithMailAddressWhenUsernameIsAllowed" class="Drupal\Tests\email_registration\Functional\Plugin\Commerce\CheckoutPane\EmailRegistrationLoginTest" classname="Drupal.Tests.email_registration.Functional.Plugin.Commerce.CheckoutPane.EmailRegistrationLoginTest" file="/var/www/html/web/modules/contrib/email_registration/tests/src/Functional/Plugin/Commerce/CheckoutPane/EmailRegistrationLoginTest.php" line="197" assertions="16" time="12.112558"/>
      <testcase name="testFailedLoginWithMailAddressWithBlockedUser" class="Drupal\Tests\email_registration\Functional\Plugin\Commerce\CheckoutPane\EmailRegistrationLoginTest" classname="Drupal.Tests.email_registration.Functional.Plugin.Commerce.CheckoutPane.EmailRegistrationLoginTest" file="/var/www/html/web/modules/contrib/email_registration/tests/src/Functional/Plugin/Commerce/CheckoutPane/EmailRegistrationLoginTest.php" line="220" assertions="18" time="12.019635"/>
    </testsuite>
  </testsuite>
</testsuites>
